{"openapi":"3.0.0","servers":[{"url":"https://data-api.b3.fun/","description":"B3 Data API - Multi-Chain Proxy"}],"info":{"description":"Cached proxy layer for multiple blockchain APIs with 24-hour caching and automatic fallback across chains. Supports both Blockscout and ThirdWeb Insights APIs. Add ?mintlify parameter for Mintlify-compatible version.","version":"1.0.0","title":"B3 Data API - Multi-Chain Data API","contact":{"name":"B3 Team","url":"https://b3.fun"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"paths":{"/blockscout/search":{"get":{"parameters":[{"in":"query","name":"q","schema":{"type":"string","example":"USDT"}}],"summary":"Search","operationId":"search","responses":{"200":{"description":"Search Response","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/SearchResultToken"},{"$ref":"#/components/schemas/SearchResultAddressOrContract"},{"$ref":"#/components/schemas/SearchResultBlock"},{"$ref":"#/components/schemas/SearchResultTransaction"}]}},"next_page_params":{"type":"object","example":{"address_hash":"0x052Ad78E3aA0b0F2D3912FD3b50a9a289CF2f7Aa","block_hash":null,"holder_count":548,"inserted_at":"2021-12-07T08:39:01.062253Z","item_type":"token","items_count":50,"name":"RealToken S 13245 Monica St Detroit MI","q":"1","transaction_hash":null}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/search"]}},"/blockscout/search/check-redirect":{"get":{"parameters":[{"in":"query","name":"q","schema":{"type":"string","example":"USDT"}}],"summary":"Search Redirect","operationId":"search redirect","responses":{"200":{"description":"Search Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResultRedirect"}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/search"]}},"/blockscout/transactions":{"get":{"parameters":[{"in":"query","name":"filter","schema":{"type":"string","example":"pending | validated"}},{"in":"query","name":"type","schema":{"type":"string","example":"token_transfer,contract_creation,contract_call,coin_transfer,token_creation"}},{"in":"query","name":"method","schema":{"type":"string","example":"approve,transfer,multicall,mint,commit"}}],"summary":"Get Transactions","operationId":"get_txs","responses":{"200":{"description":"Block","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Transaction"}},"next_page_params":{"type":"object","example":{"block_number":27170298,"index":0,"items_count":50}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout"]}},"/blockscout/blocks":{"get":{"parameters":[{"in":"query","name":"type","schema":{"type":"string","example":"block | uncle | reorg"}}],"summary":"Get Blocks","operationId":"get_blocks","responses":{"200":{"description":"Block","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Block"}},"next_page_params":{"type":"object","example":{"block_number":27729304,"items_count":50}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/blocks"]}},"/blockscout/token-transfers":{"get":{"summary":"Get Token Transfers","operationId":"get_token_transfers","responses":{"200":{"description":"Token Transfers","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/TokenTransfer"}},"next_page_params":{"type":"object","example":{"block_number":27170298,"index":0}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/tokens"]}},"/blockscout/internal-transactions":{"get":{"summary":"Get Internal Transactions","operationId":"get_internal_transactions","responses":{"200":{"description":"Internal Transactions","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/InternalTransaction"}},"next_page_params":{"type":"object","example":{"block_number":27170298,"index":0,"transaction_index":0}}}}}}}},"tags":["blockscout/transactions"]}},"/blockscout/main-page/transactions":{"get":{"summary":"Get Main Page Transactions","operationId":"get_main_page_txs","responses":{"200":{"description":"Transactions","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Transaction"}}}}}},"tags":["blockscout/main-page"]}},"/blockscout/main-page/blocks":{"get":{"summary":"Get Main Page Blocks","operationId":"get_main_page_tokens","responses":{"200":{"description":"Blocks","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Block"}}}}}},"tags":["blockscout/main-page"]}},"/blockscout/main-page/indexing-status":{"get":{"summary":"Get Indexing Status","operationId":"get_indexing_status","responses":{"200":{"description":"Indexing Status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IndexingStatus"}}}}},"tags":["blockscout/main-page"]}},"/blockscout/stats":{"get":{"summary":"Get Stats Counters","operationId":"get_stats","responses":{"200":{"description":"Stats","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatsResponse"}}}}},"tags":["blockscout"]}},"/blockscout/stats/charts/transactions":{"get":{"summary":"Get Transactions Chart","operationId":"get_txs_chart","responses":{"200":{"description":"Transaction Chart","content":{"application/json":{"schema":{"type":"object","required":["chart_data"],"properties":{"chart_data":{"type":"array","items":{"$ref":"#/components/schemas/TransactionChartItem"}}}}}}}},"tags":["blockscout/stats"]}},"/blockscout/stats/charts/market":{"get":{"summary":"Get Market Chart","operationId":"get_market_chart","responses":{"200":{"description":"Market Chart","content":{"application/json":{"schema":{"type":"object","required":["chart_data","available_supply"],"properties":{"available_supply":{"type":"string","example":"164918857.718061"},"chart_data":{"type":"array","items":{"$ref":"#/components/schemas/MarketChartItem"}}}}}}}},"tags":["blockscout/stats"]}},"/blockscout/transactions/{transaction_hash}":{"get":{"summary":"Get Transaction Info","operationId":"get_tx","parameters":[{"$ref":"#/components/parameters/transactionHash"}],"responses":{"200":{"description":"Transaction Info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transaction"}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/transactions"]}},"/blockscout/transactions/{transaction_hash}/token-transfers":{"get":{"summary":"Get Transaction Token Transfers","operationId":"get_transaction_token_transfers","parameters":[{"$ref":"#/components/parameters/transactionHash"},{"in":"query","name":"type","schema":{"type":"string","example":"ERC-20,ERC-721,ERC-1155"}}],"responses":{"200":{"description":"Token Transfers","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/TokenTransfer"}},"next_page_params":{"type":"object","example":{"block_number":27350206,"index":1,"items_count":50,"transaction_hash":"0xa3b401d6f3124c9d1528cd8d4b692f523d86fd88e48c391ffe9c67e4436ae5ca"}}}},"examples":{"large_1155_batch":{"$ref":"#/components/examples/TokenTransferLarge1155Batch"},"some_batches_on_the_first_page_and_one_on_the_second":{"$ref":"#/components/examples/TokenTransferSomeBatchesOnTheFirstPageAndOneOnTheSecond"},"a_lot_of_batches":{"$ref":"#/components/examples/TokenTransferALotOfBatches"}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/transactions"]}},"/blockscout/transactions/{transaction_hash}/internal-transactions":{"get":{"summary":"Get Transaction Internal Transactions","operationId":"get_transaction_internal_txs","parameters":[{"$ref":"#/components/parameters/transactionHash"}],"responses":{"200":{"description":"Internal Transactions","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/InternalTransaction"}},"next_page_params":{"type":"object","example":{"block_number":27350206,"index":1,"items_count":50,"transaction_index":0}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/transactions"]}},"/blockscout/transactions/{transaction_hash}/logs":{"get":{"summary":"Get Transaction Logs","operationId":"get_transaction_logs","parameters":[{"$ref":"#/components/parameters/transactionHash"}],"responses":{"200":{"description":"Internal Transactions","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Log"}},"next_page_params":{"type":"object","example":{"index":0,"items_count":50,"block_number":2}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/transactions"]}},"/blockscout/transactions/{transaction_hash}/raw-trace":{"get":{"summary":"Get Transaction Raw Trace","operationId":"get_transaction_raw_trace","parameters":[{"$ref":"#/components/parameters/transactionHash"}],"responses":{"200":{"description":"Raw Trace","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RawTrace"}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/transactions"]}},"/blockscout/transactions/{transaction_hash}/state-changes":{"get":{"summary":"Get Transaction State Changes","operationId":"get_transaction_state_changes","parameters":[{"$ref":"#/components/parameters/transactionHash"}],"responses":{"200":{"description":"State Changes","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/StateChange"}},"next_page_params":{"type":"object","example":{"items_count":1,"state_changes":null}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/transactions"]}},"/blockscout/transactions/{transaction_hash}/summary":{"get":{"summary":"Get Human-Readable Transaction Summary","operationId":"get_transaction_summary","parameters":[{"$ref":"#/components/parameters/transactionHash"}],"responses":{"200":{"description":"Human-Readable Transaction Summary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionSummary"}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/transactions"]}},"/blockscout/blocks/{block_number_or_hash}":{"get":{"summary":"Get Block Info","operationId":"get_block","parameters":[{"$ref":"#/components/parameters/blockNumberOrHash"}],"responses":{"200":{"description":"Block","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Block"}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/blocks"]}},"/blockscout/blocks/{block_number_or_hash}/transactions":{"get":{"summary":"Get Block Transactions","operationId":"get_block_txs","parameters":[{"$ref":"#/components/parameters/blockNumberOrHash"}],"responses":{"200":{"description":"Block","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Transaction"}},"next_page_params":{"type":"object","example":{"block_number":27736955,"index":4,"items_count":50}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/blocks"]}},"/blockscout/blocks/{block_number_or_hash}/withdrawals":{"get":{"summary":"Get Block Withdrawals","operationId":"get_block_withdrawals","parameters":[{"$ref":"#/components/parameters/blockNumberOrHash"}],"responses":{"200":{"description":"block's withdrawals (pay attention that block_number together with timestamp fields is not included to response in this endpoint)","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Withdrawal"}},"next_page_params":{"type":"object","example":{"index":1,"items_count":50}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/blocks"]}},"/blockscout/addresses":{"get":{"summary":"Get Native Coin Holders List","operationId":"get_addresses","responses":{"200":{"description":"Token","content":{"application/json":{"schema":{"type":"object","required":["exchange_rate","total_supply","items","next_page_params"],"properties":{"exchange_rate":{"type":"string","example":"0.01"},"total_supply":{"type":"string","example":"100000000"},"items":{"type":"array","items":{"$ref":"#/components/schemas/AddressWithTxCount"}},"next_page_params":{"type":"object","example":{"fetched_coin_balance":"269536604956070000000","hash":"0xf74769d9ffe1cd17f20b283995cf9e7fa2a262ed","items_count":50}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout"]}},"/blockscout/addresses/{address_hash}":{"get":{"summary":"Get Address Info","operationId":"get_address","parameters":[{"$ref":"#/components/parameters/addressHash"}],"responses":{"200":{"description":"Address","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Address"}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout"]}},"/blockscout/addresses/{address_hash}/counters":{"get":{"summary":"Get Address Counters","operationId":"get_address_counters","parameters":[{"$ref":"#/components/parameters/addressHash"}],"responses":{"200":{"description":"Address","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressCounters"}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout"]}},"/blockscout/addresses/{address_hash}/transactions":{"get":{"summary":"Get Address Transactions","operationId":"get_address_txs","parameters":[{"$ref":"#/components/parameters/addressHash"},{"in":"query","name":"filter","schema":{"type":"string","example":"to | from"}}],"responses":{"200":{"description":"Address","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Transaction"}},"next_page_params":{"type":"object","example":{"block_number":27736955,"index":4,"items_count":50}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout"]}},"/blockscout/addresses/{address_hash}/token-transfers":{"get":{"summary":"Get Address Token Transfers","operationId":"get_address_token_transfers","parameters":[{"$ref":"#/components/parameters/addressHash"},{"in":"query","name":"type","schema":{"type":"string","example":"ERC-20,ERC-721,ERC-1155"}},{"in":"query","name":"filter","schema":{"type":"string","example":"to | from"}},{"in":"query","name":"token","schema":{"type":"string","example":"0xb81afe27c103bcd42f4026cf719af6d802928765"}}],"responses":{"200":{"description":"Address","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/TokenTransfer"}},"next_page_params":{"type":"object","example":{"block_number":27736955,"index":4}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/tokens"]}},"/blockscout/addresses/{address_hash}/internal-transactions":{"get":{"summary":"Get Address Internal Transactions","operationId":"get_address_internal_txs","parameters":[{"$ref":"#/components/parameters/addressHash"},{"in":"query","name":"filter","schema":{"type":"string","example":"to | from"}}],"responses":{"200":{"description":"Address","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/InternalTransaction"}},"next_page_params":{"type":"object","example":{"block_number":27625575,"index":0,"items_count":50,"transaction_index":0}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/transactions"]}},"/blockscout/addresses/{address_hash}/logs":{"get":{"summary":"Get Address Logs","operationId":"get_address_logs","parameters":[{"$ref":"#/components/parameters/addressHash"}],"responses":{"200":{"description":"Address","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Log"}},"next_page_params":{"type":"object","example":{"block_number":27736955,"index":68,"items_count":50}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout"]}},"/blockscout/addresses/{address_hash}/blocks-validated":{"get":{"summary":"Get Blocks Validated by Address","operationId":"get_address_blocks_validated","parameters":[{"$ref":"#/components/parameters/addressHash"}],"responses":{"200":{"description":"Address","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Block"}},"next_page_params":{"type":"object","example":{"block_number":27736955,"items_count":50}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/blocks"]}},"/blockscout/addresses/{address_hash}/token-balances":{"get":{"summary":"Get All Tokens Balances for the Address","operationId":"get_address_token_balances","parameters":[{"$ref":"#/components/parameters/addressHash"}],"responses":{"200":{"description":"Address","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TokenBalance"}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/tokens"]}},"/blockscout/addresses/{address_hash}/tokens":{"get":{"summary":"Token Balances with Filtering and Pagination","operationId":"get_address_tokens","parameters":[{"$ref":"#/components/parameters/addressHash"},{"in":"query","name":"type","schema":{"type":"string","example":"ERC-20,ERC-721,ERC-1155"}}],"responses":{"200":{"description":"Address","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/TokenBalance"}},"next_page_params":{"type":"object","example":{"items_count":50,"token_name":null,"token_type":"ERC-1155","value":14}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/tokens"]}},"/blockscout/addresses/{address_hash}/coin-balance-history":{"get":{"summary":"Get Address Coin Balance History","operationId":"get_address_coin_balance_history","parameters":[{"$ref":"#/components/parameters/addressHash"}],"responses":{"200":{"description":"Address","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/CoinBalanceHistoryEntry"}},"next_page_params":{"type":"object","example":{"block_number":27736955,"items_count":50}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout"]}},"/blockscout/addresses/{address_hash}/coin-balance-history-by-day":{"get":{"summary":"Get Address Coin Balance History by Day","operationId":"get_address_coin_balance_history_by_day","parameters":[{"$ref":"#/components/parameters/addressHash"}],"responses":{"200":{"description":"Address","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CoinBalanceHistoryByDaysEntry"}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout"]}},"/blockscout/addresses/{address_hash}/withdrawals":{"get":{"summary":"Get Address Withdrawals","operationId":"get_address_withdrawals","parameters":[{"$ref":"#/components/parameters/addressHash"}],"responses":{"200":{"description":"pay attention that receiver field is not included to response in this endpoint","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Withdrawal"}},"next_page_params":{"type":"object","example":{"index":1,"items_count":50}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout"]}},"/blockscout/addresses/{address_hash}/nft":{"get":{"summary":"Get List of NFT Owned by Address","operationId":"get_address_nft","parameters":[{"$ref":"#/components/parameters/addressHash"},{"in":"query","name":"type","schema":{"type":"string","example":"ERC-721,ERC-404,ERC-1155"}}],"responses":{"200":{"description":"Address","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/AddressNFTInstance"}},"next_page_params":{"type":"object","example":{"token_contract_address_hash":"0xb81afe27c103bcd42f4026cf719af6d802928765","token_id":"1011","token_type":"ERC-721"}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout"]}},"/blockscout/addresses/{address_hash}/nft/collections":{"get":{"summary":"Get List of NFT Owned by Address, Grouped by Collection","operationId":"get_address_nft_collections","parameters":[{"$ref":"#/components/parameters/addressHash"},{"in":"query","name":"type","schema":{"type":"string","example":"ERC-721,ERC-404,ERC-1155"}}],"responses":{"200":{"description":"Address","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/AddressNFTCollection"}},"next_page_params":{"type":"object","example":{"token_contract_address_hash":"0xb81afe27c103bcd42f4026cf719af6d802928765","token_type":"ERC-721"}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout"]}},"/blockscout/tokens":{"get":{"summary":"Get Tokens List","operationId":"get_tokens_list","parameters":[{"in":"query","name":"q","schema":{"type":"string","example":"USDT"}},{"in":"query","name":"type","schema":{"type":"string","example":"ERC-20,ERC-721,ERC-1155"}}],"responses":{"200":{"description":"Token","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/TokenInfo"}},"next_page_params":{"type":"object","example":{"contract_address_hash":"0x68749665ff8d2d112fa859aa293f07a622782f38","holder_count":1011,"is_name_null":false,"items_count":50,"market_cap":"482534473.2170469","name":"Tether Gold"}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/tokens"]}},"/blockscout/tokens/{address_hash}":{"get":{"summary":"Get Token Info","operationId":"get_token","parameters":[{"$ref":"#/components/parameters/addressHash"}],"responses":{"200":{"description":"Token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenInfo"}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/tokens"]}},"/blockscout/tokens/{address_hash}/transfers":{"get":{"summary":"Get Token Token Transfers","operationId":"get_token_token_transfers","parameters":[{"$ref":"#/components/parameters/addressHash"}],"responses":{"200":{"description":"Token","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/TokenTransfer"}},"next_page_params":{"type":"object","example":{"block_number":27736955,"index":61}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/tokens"]}},"/blockscout/tokens/{address_hash}/holders":{"get":{"summary":"Get Token Holders","operationId":"get_token_holders","parameters":[{"$ref":"#/components/parameters/addressHash"}],"responses":{"200":{"description":"Token","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Holder"}},"next_page_params":{"type":"object","example":{"items_count":2,"value":790000000000000000000}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/tokens"]}},"/blockscout/tokens/{address_hash}/counters":{"get":{"summary":"Get Token Holders","operationId":"get_token_counters","parameters":[{"$ref":"#/components/parameters/addressHash"}],"responses":{"200":{"description":"Token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenCounters"}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/tokens"]}},"/blockscout/tokens/{address_hash}/instances":{"get":{"summary":"Get NFT Instances","operationId":"get_nft_instances","parameters":[{"$ref":"#/components/parameters/addressHash"}],"responses":{"200":{"description":"Token","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/NFTInstance"}},"next_page_params":{"type":"object","example":{"unique_token":97464}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/tokens"]}},"/blockscout/tokens/{address_hash}/instances/{id}":{"get":{"summary":"Get NFT Instance by ID","operationId":"get_nft_instance","parameters":[{"$ref":"#/components/parameters/addressHash"},{"$ref":"#/components/parameters/id"}],"responses":{"200":{"description":"Token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NFTInstance"}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/tokens"]}},"/blockscout/tokens/{address_hash}/instances/{id}/transfers":{"get":{"summary":"Get Transfers of NFT Instance","operationId":"get_nft_instance_transfers","parameters":[{"$ref":"#/components/parameters/addressHash"},{"$ref":"#/components/parameters/id"}],"responses":{"200":{"description":"Token","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/TokenTransfer"}},"next_page_params":{"type":"object","example":{"block_number":27736955,"index":61,"token_id":50}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/tokens"]}},"/blockscout/tokens/{address_hash}/instances/{id}/holders":{"get":{"summary":"Get Token Instance Holders","operationId":"get_token_instance_holders","parameters":[{"$ref":"#/components/parameters/addressHash"},{"$ref":"#/components/parameters/id"}],"responses":{"200":{"description":"Token","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Holder"}},"next_page_params":{"type":"object","example":{"value":790000000000000000000,"token_id":"953848","items_count":50}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/tokens"]}},"/blockscout/tokens/{address_hash}/instances/{id}/transfers-count":{"get":{"summary":"Get Transfers Count of NFT Instance","operationId":"get_nft_instance_transfers_count","parameters":[{"$ref":"#/components/parameters/addressHash"},{"$ref":"#/components/parameters/id"}],"responses":{"200":{"description":"Token","content":{"application/json":{"schema":{"type":"object","required":["transfers_count"],"properties":{"transfers_count":{"type":"integer","example":10}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout/tokens"]}},"/blockscout/tokens/{address_hash}/instances/{id}/refetch-metadata":{"patch":{"summary":"Re-fetch Token Instance Metadata","operationId":"refetch_token_instance_metadata","parameters":[{"$ref":"#/components/parameters/addressHash"},{"$ref":"#/components/parameters/id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecaptchaBody"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"message":{"type":"string","example":"OK"}}}}}},"403":{"description":"Invalid reCAPTCHA response","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"message":{"type":"string","example":"Invalid reCAPTCHA response"}}}}}}},"tags":["blockscout/tokens"]}},"/blockscout/smart-contracts":{"get":{"summary":"Get Verified Smart Contracts","operationId":"get_smart_contracts","parameters":[{"in":"query","name":"q","schema":{"type":"string","example":"proxy"}},{"in":"query","name":"filter","schema":{"type":"string","example":"vyper | solidity | yul"}}],"responses":{"200":{"description":"Smart Contract","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/SmartContractForList"}},"next_page_params":{"type":"object","example":{"items_count":50,"smart_contract_id":46}}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout"]}},"/blockscout/smart-contracts/counters":{"get":{"summary":"Get Verified Smart Contracts Counters","operationId":"get_smart_contracts_counters","responses":{"200":{"description":"Smart Contracts Counters","content":{"application/json":{"schema":{"type":"object","required":["new_smart_contracts_24h","new_verified_smart_contracts_24h","smart_contracts","verified_smart_contracts"],"properties":{"new_smart_contracts_24h":{"type":"string","example":"12"},"new_verified_smart_contracts_24h":{"type":"string","example":"11"},"smart_contracts":{"type":"string","example":"20"},"verified_smart_contracts":{"type":"string","example":"15"}}}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout"]}},"/blockscout/smart-contracts/{address_hash}":{"get":{"summary":"Get Smart Contract","operationId":"get_smart_contract","parameters":[{"$ref":"#/components/parameters/addressHash"}],"responses":{"200":{"description":"Smart Contract","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartContract"}}}},"400":{"description":"Bad Input Parameter"}},"tags":["blockscout"]}},"/blockscout/config/json-rpc-url":{"get":{"summary":"Get JSON RPC URL","operationId":"get_json_rpc_url","responses":{"200":{"description":"JSON RPC URL","content":{"application/json":{"schema":{"type":"object","required":["json_rpc_url"],"properties":{"json_rpc_url":{"type":"string","example":"https://core.poa.network"}}}}}}},"tags":["blockscout"]}},"/blockscout/withdrawals":{"get":{"summary":"Get Withdrawals","operationId":"get_withdrawals","responses":{"200":{"description":"Withdrawals","content":{"application/json":{"schema":{"type":"object","required":["items","next_page_params"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Withdrawal"}},"next_page_params":{"type":"object","example":{"index":1,"items_count":50}}}}}}}},"tags":["blockscout"]}},"/blockscout/proxy/account-abstraction/status":{"get":{"summary":"Get Account Abstraction Indexing Status","operationId":"get_account_abstraction_status","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1IndexerStatus"}}}},"500":{"description":"Unexpected Error"}},"tags":["blockscout"]}},"/blockscout/api/v1/celestia/blob":{"get":{"operationId":"CelestiaService_GetBlob","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1CelestiaBlob"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"parameters":[{"name":"height","in":"query","required":false,"schema":{"type":"string","format":"uint64"}},{"name":"commitment","in":"query","required":false,"schema":{"type":"string"}},{"name":"skipData","in":"query","required":false,"schema":{"type":"boolean"}}],"tags":["blockscout"]}},"/blockscout/api/v1/celestia/l2BatchMetadata":{"get":{"operationId":"CelestiaService_GetL2BatchMetadata","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1CelestiaL2BatchMetadata"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"parameters":[{"name":"height","in":"query","required":false,"schema":{"type":"string","format":"uint64"}},{"name":"namespace","in":"query","required":false,"schema":{"type":"string"}},{"name":"commitment","in":"query","required":false,"schema":{"type":"string"}}],"tags":["blockscout"]}},"/blockscout/health":{"get":{"summary":"If the requested service is unknown, the call will fail with status\nNOT_FOUND.","operationId":"Health_Check","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1HealthCheckResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"parameters":[{"name":"service","in":"query","required":false,"schema":{"type":"string"}}],"tags":["blockscout"]}},"/insights/v1/events":{"get":{"description":"Get events","summary":"Get events","tags":["insights/events"],"parameters":[{"name":"chain","in":"query","required":false,"deprecated":true,"description":"Use chain_id instead","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"name":"chain_id","in":"query","required":false,"description":"The chain ID(s) to request the data for. You can specify multiple chain IDs, up to a maximum of 55. Use repeated query parameters, e.g., `?chain_id=20&chain_id=56`. Optional, because a single chain can as well be specified as a subdomain","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"$ref":"#/components/parameters/filterBlockNumber"},{"$ref":"#/components/parameters/filterBlockNumberGte"},{"$ref":"#/components/parameters/filterBlockNumberGt"},{"$ref":"#/components/parameters/filterBlockNumberLte"},{"$ref":"#/components/parameters/filterBlockNumberLt"},{"$ref":"#/components/parameters/filterBlockHash"},{"$ref":"#/components/parameters/filterBlockTimestamp"},{"$ref":"#/components/parameters/filterBlockTimestampGte"},{"$ref":"#/components/parameters/filterBlockTimestampGt"},{"$ref":"#/components/parameters/filterBlockTimestampLte"},{"$ref":"#/components/parameters/filterBlockTimestampLt"},{"$ref":"#/components/parameters/sortBy"},{"$ref":"#/components/parameters/sortOrder"},{"$ref":"#/components/parameters/groupBy"},{"$ref":"#/components/parameters/aggregate"},{"$ref":"#/components/parameters/filterTransactionIndex"},{"$ref":"#/components/parameters/filterTransactionIndexGte"},{"$ref":"#/components/parameters/filterTransactionIndexGt"},{"$ref":"#/components/parameters/filterTransactionIndexLte"},{"$ref":"#/components/parameters/filterTransactionIndexLt"},{"$ref":"#/components/parameters/decode"},{"$ref":"#/components/parameters/filterTransactionHash"},{"$ref":"#/components/parameters/filterLogIndex"},{"$ref":"#/components/parameters/filterLogIndexGte"},{"$ref":"#/components/parameters/filterLogIndexGt"},{"$ref":"#/components/parameters/filterLogIndexLte"},{"$ref":"#/components/parameters/filterLogIndexLt"},{"$ref":"#/components/parameters/filterTopic_1"},{"$ref":"#/components/parameters/filterTopic_2"},{"$ref":"#/components/parameters/filterTopic_3"},{"$ref":"#/components/parameters/filterTopic_0"},{"$ref":"#/components/parameters/filterAddress"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"chain_id":{"type":"string"},"block_number":{"type":"number"},"block_hash":{"type":"string"},"block_timestamp":{"type":"number"},"transaction_hash":{"type":"string"},"transaction_index":{"type":"number"},"log_index":{"type":"number"},"address":{"type":"string"},"data":{"type":"string"},"topics":{"type":"array","items":{"type":"string"}},"decoded":{"type":"object","properties":{"name":{"type":"string"},"signature":{"type":"string"},"indexed_params":{"type":"object","properties":{}},"non_indexed_params":{"type":"object","properties":{}}},"required":["name","signature","indexed_params","non_indexed_params"]}},"required":["chain_id","block_number","block_hash","block_timestamp","transaction_hash","transaction_index","log_index","address","data","topics"]}},"aggregations":{"nullable":true},"meta":{"type":"object","properties":{"chain_ids":{"type":"array","items":{"type":"number"}},"address":{"type":"string"},"signature":{"type":"string"},"page":{"type":"number"},"limit_per_chain":{"type":"number"},"total_items":{"type":"number"},"total_pages":{"type":"number"}},"required":["chain_ids","page","limit_per_chain","total_items","total_pages"]}},"required":["meta"]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/insights/v1/events/{contractAddress}":{"get":{"description":"Get contract events","summary":"Get contract events","tags":["insights/events"],"parameters":[{"$ref":"#/components/parameters/contractAddress"},{"name":"chain","in":"query","required":false,"deprecated":true,"description":"Use chain_id instead","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"name":"chain_id","in":"query","required":false,"description":"The chain ID(s) to request the data for. You can specify multiple chain IDs, up to a maximum of 55. Use repeated query parameters, e.g., `?chain_id=20&chain_id=56`. Optional, because a single chain can as well be specified as a subdomain","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"$ref":"#/components/parameters/filterBlockNumber"},{"$ref":"#/components/parameters/filterBlockNumberGte"},{"$ref":"#/components/parameters/filterBlockNumberGt"},{"$ref":"#/components/parameters/filterBlockNumberLte"},{"$ref":"#/components/parameters/filterBlockNumberLt"},{"$ref":"#/components/parameters/filterBlockHash"},{"$ref":"#/components/parameters/filterBlockTimestamp"},{"$ref":"#/components/parameters/filterBlockTimestampGte"},{"$ref":"#/components/parameters/filterBlockTimestampGt"},{"$ref":"#/components/parameters/filterBlockTimestampLte"},{"$ref":"#/components/parameters/filterBlockTimestampLt"},{"$ref":"#/components/parameters/sortBy"},{"$ref":"#/components/parameters/sortOrder"},{"$ref":"#/components/parameters/groupBy"},{"$ref":"#/components/parameters/aggregate"},{"$ref":"#/components/parameters/filterTransactionIndex"},{"$ref":"#/components/parameters/filterTransactionIndexGte"},{"$ref":"#/components/parameters/filterTransactionIndexGt"},{"$ref":"#/components/parameters/filterTransactionIndexLte"},{"$ref":"#/components/parameters/filterTransactionIndexLt"},{"$ref":"#/components/parameters/decode"},{"$ref":"#/components/parameters/filterTransactionHash"},{"$ref":"#/components/parameters/filterLogIndex"},{"$ref":"#/components/parameters/filterLogIndexGte"},{"$ref":"#/components/parameters/filterLogIndexGt"},{"$ref":"#/components/parameters/filterLogIndexLte"},{"$ref":"#/components/parameters/filterLogIndexLt"},{"$ref":"#/components/parameters/filterTopic_1"},{"$ref":"#/components/parameters/filterTopic_2"},{"$ref":"#/components/parameters/filterTopic_3"},{"$ref":"#/components/parameters/filterTopic_0"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"chain_id":{"type":"string"},"block_number":{"type":"number"},"block_hash":{"type":"string"},"block_timestamp":{"type":"number"},"transaction_hash":{"type":"string"},"transaction_index":{"type":"number"},"log_index":{"type":"number"},"address":{"type":"string"},"data":{"type":"string"},"topics":{"type":"array","items":{"type":"string"}},"decoded":{"type":"object","properties":{"name":{"type":"string"},"signature":{"type":"string"},"indexed_params":{"type":"object","properties":{}},"non_indexed_params":{"type":"object","properties":{}}},"required":["name","signature","indexed_params","non_indexed_params"]}},"required":["chain_id","block_number","block_hash","block_timestamp","transaction_hash","transaction_index","log_index","address","data","topics"]}},"aggregations":{"nullable":true},"meta":{"type":"object","properties":{"chain_ids":{"type":"array","items":{"type":"number"}},"address":{"type":"string"},"signature":{"type":"string"},"page":{"type":"number"},"limit_per_chain":{"type":"number"},"total_items":{"type":"number"},"total_pages":{"type":"number"}},"required":["chain_ids","page","limit_per_chain","total_items","total_pages"]}},"required":["meta"]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/insights/v1/events/{contractAddress}/{signature}":{"get":{"description":"Get specific contract events","summary":"Get contract events with specific signature","tags":["insights/events"],"parameters":[{"$ref":"#/components/parameters/contractAddress"},{"$ref":"#/components/parameters/signature"},{"name":"chain","in":"query","required":false,"deprecated":true,"description":"Use chain_id instead","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"name":"chain_id","in":"query","required":false,"description":"The chain ID(s) to request the data for. You can specify multiple chain IDs, up to a maximum of 55. Use repeated query parameters, e.g., `?chain_id=20&chain_id=56`. Optional, because a single chain can as well be specified as a subdomain","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"$ref":"#/components/parameters/filterBlockNumber"},{"$ref":"#/components/parameters/filterBlockNumberGte"},{"$ref":"#/components/parameters/filterBlockNumberGt"},{"$ref":"#/components/parameters/filterBlockNumberLte"},{"$ref":"#/components/parameters/filterBlockNumberLt"},{"$ref":"#/components/parameters/filterBlockHash"},{"$ref":"#/components/parameters/filterBlockTimestamp"},{"$ref":"#/components/parameters/filterBlockTimestampGte"},{"$ref":"#/components/parameters/filterBlockTimestampGt"},{"$ref":"#/components/parameters/filterBlockTimestampLte"},{"$ref":"#/components/parameters/filterBlockTimestampLt"},{"$ref":"#/components/parameters/sortBy"},{"$ref":"#/components/parameters/sortOrder"},{"$ref":"#/components/parameters/groupBy"},{"$ref":"#/components/parameters/aggregate"},{"$ref":"#/components/parameters/filterTransactionIndex"},{"$ref":"#/components/parameters/filterTransactionIndexGte"},{"$ref":"#/components/parameters/filterTransactionIndexGt"},{"$ref":"#/components/parameters/filterTransactionIndexLte"},{"$ref":"#/components/parameters/filterTransactionIndexLt"},{"$ref":"#/components/parameters/decode"},{"$ref":"#/components/parameters/filterTransactionHash"},{"$ref":"#/components/parameters/filterLogIndex"},{"$ref":"#/components/parameters/filterLogIndexGte"},{"$ref":"#/components/parameters/filterLogIndexGt"},{"$ref":"#/components/parameters/filterLogIndexLte"},{"$ref":"#/components/parameters/filterLogIndexLt"},{"$ref":"#/components/parameters/filterTopic_1"},{"$ref":"#/components/parameters/filterTopic_2"},{"$ref":"#/components/parameters/filterTopic_3"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"chain_id":{"type":"string"},"block_number":{"type":"number"},"block_hash":{"type":"string"},"block_timestamp":{"type":"number"},"transaction_hash":{"type":"string"},"transaction_index":{"type":"number"},"log_index":{"type":"number"},"address":{"type":"string"},"data":{"type":"string"},"topics":{"type":"array","items":{"type":"string"}},"decoded":{"type":"object","properties":{"name":{"type":"string"},"signature":{"type":"string"},"indexed_params":{"type":"object","properties":{}},"non_indexed_params":{"type":"object","properties":{}}},"required":["name","signature","indexed_params","non_indexed_params"]}},"required":["chain_id","block_number","block_hash","block_timestamp","transaction_hash","transaction_index","log_index","address","data","topics"]}},"aggregations":{"nullable":true},"meta":{"type":"object","properties":{"chain_ids":{"type":"array","items":{"type":"number"}},"address":{"type":"string"},"signature":{"type":"string"},"page":{"type":"number"},"limit_per_chain":{"type":"number"},"total_items":{"type":"number"},"total_pages":{"type":"number"}},"required":["chain_ids","page","limit_per_chain","total_items","total_pages"]}},"required":["meta"]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/insights/v1/transactions":{"get":{"description":"Get transactions","summary":"Get transactions","tags":["insights/transactions"],"parameters":[{"name":"chain","in":"query","required":false,"deprecated":true,"description":"Use chain_id instead","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"name":"chain_id","in":"query","required":false,"description":"The chain ID(s) to request the data for. You can specify multiple chain IDs, up to a maximum of 55. Use repeated query parameters, e.g., `?chain_id=20&chain_id=56`. Optional, because a single chain can as well be specified as a subdomain","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"$ref":"#/components/parameters/filterBlockNumber"},{"$ref":"#/components/parameters/filterBlockNumberGte"},{"$ref":"#/components/parameters/filterBlockNumberGt"},{"$ref":"#/components/parameters/filterBlockNumberLte"},{"$ref":"#/components/parameters/filterBlockNumberLt"},{"$ref":"#/components/parameters/filterBlockHash"},{"$ref":"#/components/parameters/filterBlockTimestamp"},{"$ref":"#/components/parameters/filterBlockTimestampGte"},{"$ref":"#/components/parameters/filterBlockTimestampGt"},{"$ref":"#/components/parameters/filterBlockTimestampLte"},{"$ref":"#/components/parameters/filterBlockTimestampLt"},{"$ref":"#/components/parameters/sortBy"},{"$ref":"#/components/parameters/sortOrder"},{"$ref":"#/components/parameters/groupBy"},{"$ref":"#/components/parameters/aggregate"},{"$ref":"#/components/parameters/filterTransactionIndex"},{"$ref":"#/components/parameters/filterTransactionIndexGte"},{"$ref":"#/components/parameters/filterTransactionIndexGt"},{"$ref":"#/components/parameters/filterTransactionIndexLte"},{"$ref":"#/components/parameters/filterTransactionIndexLt"},{"$ref":"#/components/parameters/decode"},{"$ref":"#/components/parameters/filterHash"},{"$ref":"#/components/parameters/filterFromAddress"},{"$ref":"#/components/parameters/filterValue"},{"$ref":"#/components/parameters/filterValueGte"},{"$ref":"#/components/parameters/filterValueGt"},{"$ref":"#/components/parameters/filterValueLte"},{"$ref":"#/components/parameters/filterValueLt"},{"$ref":"#/components/parameters/filterGasPrice"},{"$ref":"#/components/parameters/filterGasPriceGte"},{"$ref":"#/components/parameters/filterGasPriceGt"},{"$ref":"#/components/parameters/filterGasPriceLte"},{"$ref":"#/components/parameters/filterGasPriceLt"},{"$ref":"#/components/parameters/filterGas"},{"$ref":"#/components/parameters/filterGasGte"},{"$ref":"#/components/parameters/filterGasGt"},{"$ref":"#/components/parameters/filterGasLte"},{"$ref":"#/components/parameters/filterGasLt"},{"$ref":"#/components/parameters/filterFunctionSelector"},{"$ref":"#/components/parameters/filterToAddress"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"chain_id":{"type":"string"},"block_number":{"type":"number"},"block_hash":{"type":"string"},"block_timestamp":{"type":"number"},"hash":{"type":"string"},"nonce":{"type":"number"},"transaction_index":{"type":"number"},"from_address":{"type":"string"},"to_address":{"type":"string"},"value":{"type":"string"},"gas_price":{"type":"string"},"gas":{"type":"number"},"function_selector":{"type":"string"},"data":{"type":"string"},"max_fee_per_gas":{"type":"string"},"max_priority_fee_per_gas":{"type":"string"},"transaction_type":{"type":"number"},"r":{"type":"string"},"s":{"type":"string"},"v":{"type":"string"},"access_list_json":{"type":"string"},"authorization_list_json":{"type":"string"},"contract_address":{"type":"string"},"gas_used":{"type":"number"},"cumulative_gas_used":{"type":"number"},"effective_gas_price":{"type":"string"},"blob_gas_used":{"type":"number"},"blob_gas_price":{"type":"string"},"logs_bloom":{"type":"string"},"status":{"type":"number"},"decoded":{"type":"object","properties":{"name":{"type":"string"},"signature":{"type":"string"},"inputs":{"type":"object","additionalProperties":{"nullable":true}}},"required":["name","signature"]}},"required":["chain_id","block_number","block_hash","block_timestamp","hash","nonce","transaction_index","from_address","to_address","value","gas_price","gas","function_selector","data","max_fee_per_gas","max_priority_fee_per_gas","transaction_type","r","s","v"]}},"aggregations":{"nullable":true},"meta":{"type":"object","properties":{"chain_ids":{"type":"array","items":{"type":"number"}},"address":{"type":"string"},"signature":{"type":"string"},"page":{"type":"number"},"limit_per_chain":{"type":"number"},"total_items":{"type":"number"},"total_pages":{"type":"number"}},"required":["chain_ids","page","limit_per_chain","total_items","total_pages"]}},"required":["meta"]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/insights/v1/transactions/{contractAddress}":{"get":{"description":"Get contract transactions","summary":"Get contract transactions","tags":["insights/transactions"],"parameters":[{"$ref":"#/components/parameters/contractAddress"},{"name":"chain","in":"query","required":false,"deprecated":true,"description":"Use chain_id instead","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"name":"chain_id","in":"query","required":false,"description":"The chain ID(s) to request the data for. You can specify multiple chain IDs, up to a maximum of 55. Use repeated query parameters, e.g., `?chain_id=20&chain_id=56`. Optional, because a single chain can as well be specified as a subdomain","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"$ref":"#/components/parameters/filterBlockNumber"},{"$ref":"#/components/parameters/filterBlockNumberGte"},{"$ref":"#/components/parameters/filterBlockNumberGt"},{"$ref":"#/components/parameters/filterBlockNumberLte"},{"$ref":"#/components/parameters/filterBlockNumberLt"},{"$ref":"#/components/parameters/filterBlockHash"},{"$ref":"#/components/parameters/filterBlockTimestamp"},{"$ref":"#/components/parameters/filterBlockTimestampGte"},{"$ref":"#/components/parameters/filterBlockTimestampGt"},{"$ref":"#/components/parameters/filterBlockTimestampLte"},{"$ref":"#/components/parameters/filterBlockTimestampLt"},{"$ref":"#/components/parameters/sortBy"},{"$ref":"#/components/parameters/sortOrder"},{"$ref":"#/components/parameters/groupBy"},{"$ref":"#/components/parameters/aggregate"},{"$ref":"#/components/parameters/filterTransactionIndex"},{"$ref":"#/components/parameters/filterTransactionIndexGte"},{"$ref":"#/components/parameters/filterTransactionIndexGt"},{"$ref":"#/components/parameters/filterTransactionIndexLte"},{"$ref":"#/components/parameters/filterTransactionIndexLt"},{"$ref":"#/components/parameters/decode"},{"$ref":"#/components/parameters/filterHash"},{"$ref":"#/components/parameters/filterFromAddress"},{"$ref":"#/components/parameters/filterValue"},{"$ref":"#/components/parameters/filterValueGte"},{"$ref":"#/components/parameters/filterValueGt"},{"$ref":"#/components/parameters/filterValueLte"},{"$ref":"#/components/parameters/filterValueLt"},{"$ref":"#/components/parameters/filterGasPrice"},{"$ref":"#/components/parameters/filterGasPriceGte"},{"$ref":"#/components/parameters/filterGasPriceGt"},{"$ref":"#/components/parameters/filterGasPriceLte"},{"$ref":"#/components/parameters/filterGasPriceLt"},{"$ref":"#/components/parameters/filterGas"},{"$ref":"#/components/parameters/filterGasGte"},{"$ref":"#/components/parameters/filterGasGt"},{"$ref":"#/components/parameters/filterGasLte"},{"$ref":"#/components/parameters/filterGasLt"},{"$ref":"#/components/parameters/filterFunctionSelector"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"chain_id":{"type":"string"},"block_number":{"type":"number"},"block_hash":{"type":"string"},"block_timestamp":{"type":"number"},"hash":{"type":"string"},"nonce":{"type":"number"},"transaction_index":{"type":"number"},"from_address":{"type":"string"},"to_address":{"type":"string"},"value":{"type":"string"},"gas_price":{"type":"string"},"gas":{"type":"number"},"function_selector":{"type":"string"},"data":{"type":"string"},"max_fee_per_gas":{"type":"string"},"max_priority_fee_per_gas":{"type":"string"},"transaction_type":{"type":"number"},"r":{"type":"string"},"s":{"type":"string"},"v":{"type":"string"},"access_list_json":{"type":"string"},"authorization_list_json":{"type":"string"},"contract_address":{"type":"string"},"gas_used":{"type":"number"},"cumulative_gas_used":{"type":"number"},"effective_gas_price":{"type":"string"},"blob_gas_used":{"type":"number"},"blob_gas_price":{"type":"string"},"logs_bloom":{"type":"string"},"status":{"type":"number"}},"required":["chain_id","block_number","block_hash","block_timestamp","hash","nonce","transaction_index","from_address","to_address","value","gas_price","gas","function_selector","data","max_fee_per_gas","max_priority_fee_per_gas","transaction_type","r","s","v"]}},"aggregations":{"nullable":true},"meta":{"type":"object","properties":{"chain_ids":{"type":"array","items":{"type":"number"}},"address":{"type":"string"},"signature":{"type":"string"},"page":{"type":"number"},"limit_per_chain":{"type":"number"},"total_items":{"type":"number"},"total_pages":{"type":"number"}},"required":["chain_ids","page","limit_per_chain","total_items","total_pages"]}},"required":["meta"]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/insights/v1/transactions/{contractAddress}/{signature}":{"get":{"description":"Get specific contract transactions","summary":"Get contract transactions with specific signature","tags":["insights/transactions"],"parameters":[{"$ref":"#/components/parameters/contractAddress"},{"$ref":"#/components/parameters/signature"},{"name":"chain","in":"query","required":false,"deprecated":true,"description":"Use chain_id instead","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"name":"chain_id","in":"query","required":false,"description":"The chain ID(s) to request the data for. You can specify multiple chain IDs, up to a maximum of 55. Use repeated query parameters, e.g., `?chain_id=20&chain_id=56`. Optional, because a single chain can as well be specified as a subdomain","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"$ref":"#/components/parameters/filterBlockNumber"},{"$ref":"#/components/parameters/filterBlockNumberGte"},{"$ref":"#/components/parameters/filterBlockNumberGt"},{"$ref":"#/components/parameters/filterBlockNumberLte"},{"$ref":"#/components/parameters/filterBlockNumberLt"},{"$ref":"#/components/parameters/filterBlockHash"},{"$ref":"#/components/parameters/filterBlockTimestamp"},{"$ref":"#/components/parameters/filterBlockTimestampGte"},{"$ref":"#/components/parameters/filterBlockTimestampGt"},{"$ref":"#/components/parameters/filterBlockTimestampLte"},{"$ref":"#/components/parameters/filterBlockTimestampLt"},{"$ref":"#/components/parameters/sortBy"},{"$ref":"#/components/parameters/sortOrder"},{"$ref":"#/components/parameters/groupBy"},{"$ref":"#/components/parameters/aggregate"},{"$ref":"#/components/parameters/filterTransactionIndex"},{"$ref":"#/components/parameters/filterTransactionIndexGte"},{"$ref":"#/components/parameters/filterTransactionIndexGt"},{"$ref":"#/components/parameters/filterTransactionIndexLte"},{"$ref":"#/components/parameters/filterTransactionIndexLt"},{"$ref":"#/components/parameters/decode"},{"$ref":"#/components/parameters/filterHash"},{"$ref":"#/components/parameters/filterFromAddress"},{"$ref":"#/components/parameters/filterValue"},{"$ref":"#/components/parameters/filterValueGte"},{"$ref":"#/components/parameters/filterValueGt"},{"$ref":"#/components/parameters/filterValueLte"},{"$ref":"#/components/parameters/filterValueLt"},{"$ref":"#/components/parameters/filterGasPrice"},{"$ref":"#/components/parameters/filterGasPriceGte"},{"$ref":"#/components/parameters/filterGasPriceGt"},{"$ref":"#/components/parameters/filterGasPriceLte"},{"$ref":"#/components/parameters/filterGasPriceLt"},{"$ref":"#/components/parameters/filterGas"},{"$ref":"#/components/parameters/filterGasGte"},{"$ref":"#/components/parameters/filterGasGt"},{"$ref":"#/components/parameters/filterGasLte"},{"$ref":"#/components/parameters/filterGasLt"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"chain_id":{"type":"string"},"block_number":{"type":"number"},"block_hash":{"type":"string"},"block_timestamp":{"type":"number"},"hash":{"type":"string"},"nonce":{"type":"number"},"transaction_index":{"type":"number"},"from_address":{"type":"string"},"to_address":{"type":"string"},"value":{"type":"string"},"gas_price":{"type":"string"},"gas":{"type":"number"},"function_selector":{"type":"string"},"data":{"type":"string"},"max_fee_per_gas":{"type":"string"},"max_priority_fee_per_gas":{"type":"string"},"transaction_type":{"type":"number"},"r":{"type":"string"},"s":{"type":"string"},"v":{"type":"string"},"access_list_json":{"type":"string"},"authorization_list_json":{"type":"string"},"contract_address":{"type":"string"},"gas_used":{"type":"number"},"cumulative_gas_used":{"type":"number"},"effective_gas_price":{"type":"string"},"blob_gas_used":{"type":"number"},"blob_gas_price":{"type":"string"},"logs_bloom":{"type":"string"},"status":{"type":"number"},"decoded":{"type":"object","properties":{"name":{"type":"string"},"signature":{"type":"string"},"inputs":{"type":"object","additionalProperties":{"nullable":true}}},"required":["name","signature"]}},"required":["chain_id","block_number","block_hash","block_timestamp","hash","nonce","transaction_index","from_address","to_address","value","gas_price","gas","function_selector","data","max_fee_per_gas","max_priority_fee_per_gas","transaction_type","r","s","v"]}},"aggregations":{"nullable":true},"meta":{"type":"object","properties":{"chain_ids":{"type":"array","items":{"type":"number"}},"address":{"type":"string"},"signature":{"type":"string"},"page":{"type":"number"},"limit_per_chain":{"type":"number"},"total_items":{"type":"number"},"total_pages":{"type":"number"}},"required":["chain_ids","page","limit_per_chain","total_items","total_pages"]}},"required":["meta"]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/insights/v1/tokens/owners":{"get":{"description":"Get token owners for specific contract","summary":"Get token owners by contract","tags":["insights/tokens"],"parameters":[{"name":"chain","in":"query","required":false,"deprecated":true,"description":"Use chain_id instead","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"name":"chain_id","in":"query","required":false,"description":"The chain ID(s) to request the data for. You can specify multiple chain IDs, up to a maximum of 55. Use repeated query parameters, e.g., `?chain_id=20&chain_id=56`. Optional, because a single chain can as well be specified as a subdomain","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"},{"$ref":"#/components/parameters/contractAddress"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"chain_id":{"type":"string"},"token_address":{"type":"string","title":"address (hex or ENS)","example":"vitalik.eth"},"owner_address":{"type":"string","title":"address (hex or ENS)","example":"vitalik.eth"},"balance":{"type":"string"}},"required":["chain_id","token_address","owner_address","balance"]}}},"required":["data"]}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"404":{"description":"Not found"},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}}}},"/insights/v1/tokens/transfers/transaction/{transaction_hash}":{"get":{"description":"Get token transfers by transaction","summary":"Get token transfers by transaction","tags":["insights/tokens"],"parameters":[{"$ref":"#/components/parameters/transactionHash"},{"name":"chain","in":"query","required":false,"deprecated":true,"description":"Use chain_id instead","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"name":"chain_id","in":"query","required":false,"description":"The chain ID(s) to request the data for. You can specify multiple chain IDs, up to a maximum of 55. Use repeated query parameters, e.g., `?chain_id=20&chain_id=56`. Optional, because a single chain can as well be specified as a subdomain","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"},{"schema":{"type":"string","enum":["true","false"],"default":"false","description":"Whether to include metadata for the tokens","example":"false"},"required":false,"name":"metadata","in":"query"},{"schema":{"type":"string","enum":["true","false"],"default":"false","description":"Whether to include owner addresses in the NFT metadata (only if metadata is requested)","example":"false"},"required":false,"name":"include_owners","in":"query"},{"schema":{"type":"array","description":"The types of tokens to include in the response. Can be an empty array to include all types","items":{"type":"string","enum":["erc1155","erc721","erc20"]},"uniqueItems":true},"required":false,"name":"token_types","in":"query"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"block_number":{"type":"string"},"block_hash":{"type":"string"},"block_timestamp":{"type":"string"},"transaction_hash":{"type":"string"},"from_address":{"type":"string"},"to_address":{"type":"string"},"log_index":{"type":"number"},"contract_address":{"type":"string"},"transfer_type":{"type":"string","enum":["mint","sale","transfer"]},"token_type":{"type":"string","enum":["erc20"]},"amount":{"type":"string"},"chain_id":{"type":"number"},"token_metadata":{"type":"object","properties":{"name":{"type":"string"},"symbol":{"type":"string"},"decimals":{"type":"number"},"price_data":{"type":"object","properties":{"price_usd":{"type":"number","description":"The price of the token in USD"},"usd_value":{"type":"number","description":"The value of the token balance in USD"},"volume_24h_usd":{"type":"number","description":"The volume of the token in USD"},"market_cap_usd":{"type":"number","description":"The market cap of the token in USD"},"circulating_supply":{"type":"number","description":"The circulating supply of the token"},"total_supply":{"type":"number","description":"The total supply of the token"},"percent_change_24h":{"type":"number","description":"The percentage change of the token in the last 24 hours"},"price_timestamp":{"type":"string","description":"The timestamp of the latest price update"}}}}},"price_data":{"type":"object","properties":{"price_usd":{"type":"number","description":"The price of the token in USD"},"usd_value":{"type":"number","description":"The value of the token balance in USD"},"volume_24h_usd":{"type":"number","description":"The volume of the token in USD"},"market_cap_usd":{"type":"number","description":"The market cap of the token in USD"},"circulating_supply":{"type":"number","description":"The circulating supply of the token"},"total_supply":{"type":"number","description":"The total supply of the token"},"percent_change_24h":{"type":"number","description":"The percentage change of the token in the last 24 hours"},"price_timestamp":{"type":"string","description":"The timestamp of the latest price update"}}}},"required":["block_number","block_timestamp","transaction_hash","from_address","to_address","log_index","contract_address","transfer_type","token_type","amount","chain_id"]}},"aggregations":{"nullable":true},"meta":{"type":"object","properties":{"chain_id":{"type":"number"},"address":{"type":"string"},"signature":{"type":"string"},"page":{"type":"number"},"limit":{"type":"number"},"total_items":{"type":"number"},"total_pages":{"type":"number"}},"required":["chain_id"]}},"required":["meta"]}}}},"404":{"description":"Not found"},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"block_number":{"type":"string"},"block_hash":{"type":"string"},"block_timestamp":{"type":"string"},"transaction_hash":{"type":"string"},"from_address":{"type":"string"},"to_address":{"type":"string"},"log_index":{"type":"number"},"contract_address":{"type":"string"},"transfer_type":{"type":"string","enum":["mint","sale","transfer"]},"token_type":{"type":"string","enum":["erc20"]},"amount":{"type":"string"},"chain_id":{"type":"number"},"token_metadata":{"type":"object","properties":{"name":{"type":"string"},"symbol":{"type":"string"},"decimals":{"type":"number"},"price_data":{"type":"object","properties":{"price_usd":{"type":"number","description":"The price of the token in USD"},"usd_value":{"type":"number","description":"The value of the token balance in USD"},"volume_24h_usd":{"type":"number","description":"The volume of the token in USD"},"market_cap_usd":{"type":"number","description":"The market cap of the token in USD"},"circulating_supply":{"type":"number","description":"The circulating supply of the token"},"total_supply":{"type":"number","description":"The total supply of the token"},"percent_change_24h":{"type":"number","description":"The percentage change of the token in the last 24 hours"},"price_timestamp":{"type":"string","description":"The timestamp of the latest price update"}}}}},"price_data":{"type":"object","properties":{"price_usd":{"type":"number","description":"The price of the token in USD"},"usd_value":{"type":"number","description":"The value of the token balance in USD"},"volume_24h_usd":{"type":"number","description":"The volume of the token in USD"},"market_cap_usd":{"type":"number","description":"The market cap of the token in USD"},"circulating_supply":{"type":"number","description":"The circulating supply of the token"},"total_supply":{"type":"number","description":"The total supply of the token"},"percent_change_24h":{"type":"number","description":"The percentage change of the token in the last 24 hours"},"price_timestamp":{"type":"string","description":"The timestamp of the latest price update"}}}},"required":["block_number","block_timestamp","transaction_hash","from_address","to_address","log_index","contract_address","transfer_type","token_type","amount","chain_id"]}},"aggregations":{"nullable":true},"meta":{"type":"object","properties":{"chain_id":{"type":"number"},"address":{"type":"string"},"signature":{"type":"string"},"page":{"type":"number"},"limit":{"type":"number"},"total_items":{"type":"number"},"total_pages":{"type":"number"}},"required":["chain_id"]}},"required":["meta"]}}}}}}},"/insights/v1/tokens/transfers/{contract_address}":{"get":{"description":"Get token transfers by contract","summary":"Get token transfers by contract","tags":["insights/tokens"],"parameters":[{"$ref":"#/components/parameters/contractAddress"},{"name":"chain","in":"query","required":false,"deprecated":true,"description":"Use chain_id instead","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"name":"chain_id","in":"query","required":false,"description":"The chain ID(s) to request the data for. You can specify multiple chain IDs, up to a maximum of 55. Use repeated query parameters, e.g., `?chain_id=20&chain_id=56`. Optional, because a single chain can as well be specified as a subdomain","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"},{"schema":{"type":"string","enum":["true","false"],"default":"false","description":"Whether to include metadata for the tokens","example":"false"},"required":false,"name":"metadata","in":"query"},{"schema":{"type":"string","enum":["true","false"],"default":"false","description":"Whether to include owner addresses in the NFT metadata (only if metadata is requested)","example":"false"},"required":false,"name":"include_owners","in":"query"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"block_number":{"type":"string"},"block_hash":{"type":"string"},"block_timestamp":{"type":"string"},"transaction_hash":{"type":"string"},"from_address":{"type":"string"},"to_address":{"type":"string"},"log_index":{"type":"number"},"contract_address":{"type":"string"},"transfer_type":{"type":"string","enum":["mint","sale","transfer"]},"token_type":{"type":"string","enum":["erc20"]},"amount":{"type":"string"},"chain_id":{"type":"number"},"token_metadata":{"type":"object","properties":{"name":{"type":"string"},"symbol":{"type":"string"},"decimals":{"type":"number"},"price_data":{"type":"object","properties":{"price_usd":{"type":"number","description":"The price of the token in USD"},"usd_value":{"type":"number","description":"The value of the token balance in USD"},"volume_24h_usd":{"type":"number","description":"The volume of the token in USD"},"market_cap_usd":{"type":"number","description":"The market cap of the token in USD"},"circulating_supply":{"type":"number","description":"The circulating supply of the token"},"total_supply":{"type":"number","description":"The total supply of the token"},"percent_change_24h":{"type":"number","description":"The percentage change of the token in the last 24 hours"},"price_timestamp":{"type":"string","description":"The timestamp of the latest price update"}}}}},"price_data":{"type":"object","properties":{"price_usd":{"type":"number","description":"The price of the token in USD"},"usd_value":{"type":"number","description":"The value of the token balance in USD"},"volume_24h_usd":{"type":"number","description":"The volume of the token in USD"},"market_cap_usd":{"type":"number","description":"The market cap of the token in USD"},"circulating_supply":{"type":"number","description":"The circulating supply of the token"},"total_supply":{"type":"number","description":"The total supply of the token"},"percent_change_24h":{"type":"number","description":"The percentage change of the token in the last 24 hours"},"price_timestamp":{"type":"string","description":"The timestamp of the latest price update"}}}},"required":["block_number","block_timestamp","transaction_hash","from_address","to_address","log_index","contract_address","transfer_type","token_type","amount","chain_id"]}},"aggregations":{"nullable":true},"meta":{"type":"object","properties":{"chain_id":{"type":"number"},"address":{"type":"string"},"signature":{"type":"string"},"page":{"type":"number"},"limit":{"type":"number"},"total_items":{"type":"number"},"total_pages":{"type":"number"}},"required":["chain_id"]}},"required":["meta"]}}}},"404":{"description":"Not found"},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"block_number":{"type":"string"},"block_hash":{"type":"string"},"block_timestamp":{"type":"string"},"transaction_hash":{"type":"string"},"from_address":{"type":"string"},"to_address":{"type":"string"},"log_index":{"type":"number"},"contract_address":{"type":"string"},"transfer_type":{"type":"string","enum":["mint","sale","transfer"]},"token_type":{"type":"string","enum":["erc20"]},"amount":{"type":"string"},"chain_id":{"type":"number"},"token_metadata":{"type":"object","properties":{"name":{"type":"string"},"symbol":{"type":"string"},"decimals":{"type":"number"},"price_data":{"type":"object","properties":{"price_usd":{"type":"number","description":"The price of the token in USD"},"usd_value":{"type":"number","description":"The value of the token balance in USD"},"volume_24h_usd":{"type":"number","description":"The volume of the token in USD"},"market_cap_usd":{"type":"number","description":"The market cap of the token in USD"},"circulating_supply":{"type":"number","description":"The circulating supply of the token"},"total_supply":{"type":"number","description":"The total supply of the token"},"percent_change_24h":{"type":"number","description":"The percentage change of the token in the last 24 hours"},"price_timestamp":{"type":"string","description":"The timestamp of the latest price update"}}}}},"price_data":{"type":"object","properties":{"price_usd":{"type":"number","description":"The price of the token in USD"},"usd_value":{"type":"number","description":"The value of the token balance in USD"},"volume_24h_usd":{"type":"number","description":"The volume of the token in USD"},"market_cap_usd":{"type":"number","description":"The market cap of the token in USD"},"circulating_supply":{"type":"number","description":"The circulating supply of the token"},"total_supply":{"type":"number","description":"The total supply of the token"},"percent_change_24h":{"type":"number","description":"The percentage change of the token in the last 24 hours"},"price_timestamp":{"type":"string","description":"The timestamp of the latest price update"}}}},"required":["block_number","block_timestamp","transaction_hash","from_address","to_address","log_index","contract_address","transfer_type","token_type","amount","chain_id"]}},"aggregations":{"nullable":true},"meta":{"type":"object","properties":{"chain_id":{"type":"number"},"address":{"type":"string"},"signature":{"type":"string"},"page":{"type":"number"},"limit":{"type":"number"},"total_items":{"type":"number"},"total_pages":{"type":"number"}},"required":["chain_id"]}},"required":["meta"]}}}}}}},"/insights/v1/tokens/transfers":{"get":{"description":"Get token transfers","summary":"Get token transfers","tags":["insights/tokens"],"parameters":[{"name":"chain","in":"query","required":false,"deprecated":true,"description":"Use chain_id instead","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"name":"chain_id","in":"query","required":false,"description":"The chain ID(s) to request the data for. You can specify multiple chain IDs, up to a maximum of 55. Use repeated query parameters, e.g., `?chain_id=20&chain_id=56`. Optional, because a single chain can as well be specified as a subdomain","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"},{"schema":{"type":"string","enum":["true","false"],"default":"false","description":"Whether to include metadata for the tokens","example":"false"},"required":false,"name":"metadata","in":"query"},{"schema":{"type":"string","enum":["true","false"],"default":"false","description":"Whether to include owner addresses in the NFT metadata (only if metadata is requested)","example":"false"},"required":false,"name":"include_owners","in":"query"},{"$ref":"#/components/parameters/blockNumberFrom"},{"$ref":"#/components/parameters/blockNumberTo"},{"$ref":"#/components/parameters/blockTimestampFrom"},{"$ref":"#/components/parameters/blockTimestampTo"},{"$ref":"#/components/parameters/ownerAddress"},{"$ref":"#/components/parameters/contractAddress"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc","description":"Sort order (asc or desc)","example":"desc"},"required":false,"name":"sort_order","in":"query"},{"schema":{"type":"string","enum":["mint","transfer","burn"],"description":"Only include transfers of a certain type","example":"mint"},"required":false,"name":"transfer_type","in":"query"},{"schema":{"type":"array","description":"The types of tokens to include in the response. Can be an empty array to include all types","items":{"type":"string","enum":["erc1155","erc721","erc20"]},"uniqueItems":true},"required":false,"name":"token_types","in":"query"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"block_number":{"type":"string"},"block_hash":{"type":"string"},"block_timestamp":{"type":"string"},"transaction_hash":{"type":"string"},"from_address":{"type":"string"},"to_address":{"type":"string"},"log_index":{"type":"number"},"contract_address":{"type":"string"},"transfer_type":{"type":"string","enum":["mint","sale","transfer"]},"token_type":{"type":"string","enum":["erc20"]},"amount":{"type":"string"},"chain_id":{"type":"number"},"token_metadata":{"type":"object","properties":{"name":{"type":"string"},"symbol":{"type":"string"},"decimals":{"type":"number"},"price_data":{"type":"object","properties":{"price_usd":{"type":"number","description":"The price of the token in USD"},"usd_value":{"type":"number","description":"The value of the token balance in USD"},"volume_24h_usd":{"type":"number","description":"The volume of the token in USD"},"market_cap_usd":{"type":"number","description":"The market cap of the token in USD"},"circulating_supply":{"type":"number","description":"The circulating supply of the token"},"total_supply":{"type":"number","description":"The total supply of the token"},"percent_change_24h":{"type":"number","description":"The percentage change of the token in the last 24 hours"},"price_timestamp":{"type":"string","description":"The timestamp of the latest price update"}}}}},"price_data":{"type":"object","properties":{"price_usd":{"type":"number","description":"The price of the token in USD"},"usd_value":{"type":"number","description":"The value of the token balance in USD"},"volume_24h_usd":{"type":"number","description":"The volume of the token in USD"},"market_cap_usd":{"type":"number","description":"The market cap of the token in USD"},"circulating_supply":{"type":"number","description":"The circulating supply of the token"},"total_supply":{"type":"number","description":"The total supply of the token"},"percent_change_24h":{"type":"number","description":"The percentage change of the token in the last 24 hours"},"price_timestamp":{"type":"string","description":"The timestamp of the latest price update"}}}},"required":["block_number","block_timestamp","transaction_hash","from_address","to_address","log_index","contract_address","transfer_type","token_type","amount","chain_id"]}},"aggregations":{"nullable":true},"meta":{"type":"object","properties":{"chain_id":{"type":"number"},"address":{"type":"string"},"signature":{"type":"string"},"page":{"type":"number"},"limit":{"type":"number"},"total_items":{"type":"number"},"total_pages":{"type":"number"}},"required":["chain_id"]}},"required":["meta"]}}}},"404":{"description":"Not found"},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"block_number":{"type":"string"},"block_hash":{"type":"string"},"block_timestamp":{"type":"string"},"transaction_hash":{"type":"string"},"from_address":{"type":"string"},"to_address":{"type":"string"},"log_index":{"type":"number"},"contract_address":{"type":"string"},"transfer_type":{"type":"string","enum":["mint","sale","transfer"]},"token_type":{"type":"string","enum":["erc20"]},"amount":{"type":"string"},"chain_id":{"type":"number"},"token_metadata":{"type":"object","properties":{"name":{"type":"string"},"symbol":{"type":"string"},"decimals":{"type":"number"},"price_data":{"type":"object","properties":{"price_usd":{"type":"number","description":"The price of the token in USD"},"usd_value":{"type":"number","description":"The value of the token balance in USD"},"volume_24h_usd":{"type":"number","description":"The volume of the token in USD"},"market_cap_usd":{"type":"number","description":"The market cap of the token in USD"},"circulating_supply":{"type":"number","description":"The circulating supply of the token"},"total_supply":{"type":"number","description":"The total supply of the token"},"percent_change_24h":{"type":"number","description":"The percentage change of the token in the last 24 hours"},"price_timestamp":{"type":"string","description":"The timestamp of the latest price update"}}}}},"price_data":{"type":"object","properties":{"price_usd":{"type":"number","description":"The price of the token in USD"},"usd_value":{"type":"number","description":"The value of the token balance in USD"},"volume_24h_usd":{"type":"number","description":"The volume of the token in USD"},"market_cap_usd":{"type":"number","description":"The market cap of the token in USD"},"circulating_supply":{"type":"number","description":"The circulating supply of the token"},"total_supply":{"type":"number","description":"The total supply of the token"},"percent_change_24h":{"type":"number","description":"The percentage change of the token in the last 24 hours"},"price_timestamp":{"type":"string","description":"The timestamp of the latest price update"}}}},"required":["block_number","block_timestamp","transaction_hash","from_address","to_address","log_index","contract_address","transfer_type","token_type","amount","chain_id"]}},"aggregations":{"nullable":true},"meta":{"type":"object","properties":{"chain_id":{"type":"number"},"address":{"type":"string"},"signature":{"type":"string"},"page":{"type":"number"},"limit":{"type":"number"},"total_items":{"type":"number"},"total_pages":{"type":"number"}},"required":["chain_id"]}},"required":["meta"]}}}}}}},"/insights/v1/tokens/erc20/{ownerAddress}":{"get":{"deprecated":true,"summary":"Get ERC-20 balances by address","description":"Get ERC-20 balances for a given address. [BEING DEPRECATED IN FAVOR OF /tokens]","tags":["insights/tokens"],"parameters":[{"$ref":"#/components/parameters/ownerAddress"},{"name":"chain","in":"query","required":false,"deprecated":true,"description":"Use chain_id instead","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"name":"chain_id","in":"query","required":false,"description":"The chain ID(s) to request the data for. You can specify multiple chain IDs, up to a maximum of 55. Use repeated query parameters, e.g., `?chain_id=20&chain_id=56`. Optional, because a single chain can as well be specified as a subdomain","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"},{"schema":{"type":"string","enum":["true","false"],"default":"false","description":"Whether to include metadata for the tokens","example":"false"},"required":false,"name":"metadata","in":"query"},{"schema":{"type":"string","enum":["true","false"],"default":"true","description":"Whether to resolve metadata IPFS or Arweave links","example":"false"},"required":false,"name":"resolve_metadata_links","in":"query"},{"schema":{"type":"string","enum":["true","false"],"default":"false","description":"Whether to include spam tokens","example":"false"},"required":false,"name":"include_spam","in":"query"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"chain_id":{"type":"number","description":"The chain ID of a relevant entry","example":1},"token_address":{"type":"string","title":"address (hex or ENS)","example":"vitalik.eth"},"balance":{"type":"string"},"name":{"type":"string"},"symbol":{"type":"string"},"decimals":{"type":"number"}},"required":["chain_id","token_address","balance"]}}},"required":["data"]}}}},"400":{"description":"Bad request"},"500":{"description":"Internal server error"}}}},"/insights/v1/tokens":{"get":{"summary":"Get tokens","description":"Query tokens","tags":["insights/tokens"],"parameters":[{"name":"chain","in":"query","required":false,"deprecated":true,"description":"Use chain_id instead","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"name":"chain_id","in":"query","required":false,"description":"The chain ID(s) to request the data for. You can specify multiple chain IDs, up to a maximum of 55. Use repeated query parameters, e.g., `?chain_id=20&chain_id=56`. Optional, because a single chain can as well be specified as a subdomain","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"},{"schema":{"type":"string","enum":["true","false"],"default":"false","description":"Whether to include metadata for the tokens","example":"false"},"required":false,"name":"metadata","in":"query"},{"schema":{"type":"string","enum":["true","false"],"default":"true","description":"Whether to resolve metadata IPFS or Arweave links","example":"false"},"required":false,"name":"resolve_metadata_links","in":"query"},{"schema":{"type":"string","enum":["true","false"],"default":"false","description":"Whether to include spam tokens","example":"false"},"required":false,"name":"include_spam","in":"query"},{"schema":{"type":"array","description":"Address(es) to filter by. You can specify multiple addresses using repeated query parameters, e.g., ?address=0x123&address=0x456","example":["0x1234567890123456789012345678901234567890","vitalik.eth"],"items":{"type":"string"}},"required":true,"name":"owner_address","in":"query"},{"schema":{"type":"string","enum":["true","false"],"default":"true","description":"Whether to include native tokens","example":"true"},"required":false,"name":"include_native","in":"query"},{"schema":{"type":"array","description":"Address(es) to filter by. You can specify multiple addresses using repeated query parameters, e.g., ?address=0x123&address=0x456","example":["0x1234567890123456789012345678901234567890","vitalik.eth"],"items":{"type":"string"}},"required":false,"name":"token_address","in":"query"},{"schema":{"type":"string","enum":["balance","token_address","token_price","usd_value"],"default":"token_address","description":"Field to sort by","example":"balance"},"required":false,"name":"sort_by","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"asc","description":"Sort order (asc or desc)","example":"desc"},"required":false,"name":"sort_order","in":"query"},{"schema":{"type":"string","enum":["true","false"],"default":"true","description":"Whether to include tokens that don't have price data (only applies when metadata=true)","example":"true"},"required":false,"name":"include_without_price","in":"query"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"chain_id":{"type":"number","description":"The chain ID of a relevant entry","example":1},"token_address":{"type":"string","title":"address (hex or ENS)","example":"vitalik.eth"},"balance":{"type":"string"},"name":{"type":"string"},"symbol":{"type":"string"},"decimals":{"type":"number"},"price_data":{"type":"object","properties":{"price_usd":{"type":"number","description":"The price of the token in USD"},"usd_value":{"type":"number","description":"The value of the token balance in USD"},"volume_24h_usd":{"type":"number","description":"The volume of the token in USD"},"market_cap_usd":{"type":"number","description":"The market cap of the token in USD"},"circulating_supply":{"type":"number","description":"The circulating supply of the token"},"total_supply":{"type":"number","description":"The total supply of the token"},"percent_change_24h":{"type":"number","description":"The percentage change of the token in the last 24 hours"},"price_timestamp":{"type":"string","description":"The timestamp of the latest price update"}}}},"required":["chain_id","token_address","balance"]}}},"required":["data"]}}}},"400":{"description":"Bad request"},"500":{"description":"Internal server error"}}}},"/insights/v1/tokens/erc721/{ownerAddress}":{"get":{"summary":"Get ERC-721 balances by address","description":"Get ERC-721 (NFT) balances for a given address [BEING DEPRECATED IN FAVOR OF /nfts/balance]","deprecated":true,"tags":["insights/tokens"],"parameters":[{"$ref":"#/components/parameters/ownerAddress"},{"name":"chain","in":"query","required":false,"deprecated":true,"description":"Use chain_id instead","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"name":"chain_id","in":"query","required":false,"description":"The chain ID(s) to request the data for. You can specify multiple chain IDs, up to a maximum of 55. Use repeated query parameters, e.g., `?chain_id=20&chain_id=56`. Optional, because a single chain can as well be specified as a subdomain","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"},{"schema":{"type":"string","enum":["true","false"],"default":"false","description":"Whether to include metadata for the tokens","example":"false"},"required":false,"name":"metadata","in":"query"},{"schema":{"type":"string","enum":["true","false"],"default":"true","description":"Whether to resolve metadata IPFS or Arweave links","example":"false"},"required":false,"name":"resolve_metadata_links","in":"query"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"chain_id":{"type":"number","description":"The chain ID of a relevant entry","example":1},"token_address":{"type":"string","title":"address (hex or ENS)","example":"vitalik.eth"},"token_id":{"type":"string"},"balance":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"image_url":{"type":"string"},"video_url":{"type":"string"},"animation_url":{"type":"string"},"background_color":{"type":"string"},"external_url":{"type":"string"},"status":{"type":"string"},"metadata_url":{"type":"string"},"owner_addresses":{"type":"array","items":{"type":"string"}},"extra_metadata":{"allOf":[{"type":"object","additionalProperties":{"nullable":true}},{"type":"object","properties":{"attributes":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"trait_type":{"type":"string"},"value":{"anyOf":[{"type":"string"},{"type":"number"}]},"display_type":{"type":"string"}},"required":["trait_type","value"]}},{"type":"object","additionalProperties":{"nullable":true}}]},"properties":{"type":"object","additionalProperties":{"nullable":true}}}}]},"collection":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"image_url":{"type":"string"},"banner_image_url":{"type":"string"},"featured_image_url":{"type":"string"},"external_link":{"type":"string"}}},"contract":{"type":"object","properties":{"chain_id":{"type":"number","description":"The chain ID of a relevant entry","example":1},"address":{"type":"string","title":"address (hex or ENS)","example":"vitalik.eth"},"name":{"type":"string"},"symbol":{"type":"string"},"type":{"type":"string","enum":["erc721","erc1155"]}},"required":["chain_id","address"]}},"required":["chain_id","token_address","token_id","balance"]}}},"required":["data"]}}}},"400":{"description":"Bad request"},"500":{"description":"Internal server error"}}}},"/insights/v1/tokens/erc1155/{ownerAddress}":{"get":{"summary":"Get ERC-1155 balances by address","description":"Get ERC-1155 (Multi Token) balances for a given address [BEING DEPRECATED IN FAVOR OF /nfts/balance]","deprecated":true,"tags":["insights/tokens"],"parameters":[{"$ref":"#/components/parameters/ownerAddress"},{"name":"chain","in":"query","required":false,"deprecated":true,"description":"Use chain_id instead","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"name":"chain_id","in":"query","required":false,"description":"The chain ID(s) to request the data for. You can specify multiple chain IDs, up to a maximum of 55. Use repeated query parameters, e.g., `?chain_id=20&chain_id=56`. Optional, because a single chain can as well be specified as a subdomain","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"},{"schema":{"type":"string","enum":["true","false"],"default":"false","description":"Whether to include metadata for the tokens","example":"false"},"required":false,"name":"metadata","in":"query"},{"schema":{"type":"string","enum":["true","false"],"default":"true","description":"Whether to resolve metadata IPFS or Arweave links","example":"false"},"required":false,"name":"resolve_metadata_links","in":"query"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"chain_id":{"type":"number","description":"The chain ID of a relevant entry","example":1},"token_address":{"type":"string","title":"address (hex or ENS)","example":"vitalik.eth"},"token_id":{"type":"string"},"balance":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"image_url":{"type":"string"},"video_url":{"type":"string"},"animation_url":{"type":"string"},"background_color":{"type":"string"},"external_url":{"type":"string"},"status":{"type":"string"},"metadata_url":{"type":"string"},"owner_addresses":{"type":"array","items":{"type":"string"}},"extra_metadata":{"allOf":[{"type":"object","additionalProperties":{"nullable":true}},{"type":"object","properties":{"attributes":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"trait_type":{"type":"string"},"value":{"anyOf":[{"type":"string"},{"type":"number"}]},"display_type":{"type":"string"}},"required":["trait_type","value"]}},{"type":"object","additionalProperties":{"nullable":true}}]},"properties":{"type":"object","additionalProperties":{"nullable":true}}}}]},"collection":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"image_url":{"type":"string"},"banner_image_url":{"type":"string"},"featured_image_url":{"type":"string"},"external_link":{"type":"string"}}},"contract":{"type":"object","properties":{"chain_id":{"type":"number","description":"The chain ID of a relevant entry","example":1},"address":{"type":"string","title":"address (hex or ENS)","example":"vitalik.eth"},"name":{"type":"string"},"symbol":{"type":"string"},"type":{"type":"string","enum":["erc721","erc1155"]}},"required":["chain_id","address"]}},"required":["chain_id","token_address","token_id","balance"]}}},"required":["data"]}}}},"400":{"description":"Bad request"},"500":{"description":"Internal server error"}}}},"/insights/v1/tokens/price/supported":{"get":{"summary":"Get supported tokens for price data","description":"Get supported tokens for price data","tags":["insights/tokens"],"parameters":[{"name":"chain","in":"query","required":false,"deprecated":true,"description":"Use chain_id instead","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"name":"chain_id","in":"query","required":false,"description":"The chain ID(s) to request the data for. You can specify multiple chain IDs, up to a maximum of 55. Use repeated query parameters, e.g., `?chain_id=20&chain_id=56`. Optional, because a single chain can as well be specified as a subdomain","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"chain_id":{"type":"number","description":"The chain ID of a relevant entry","example":1},"address":{"type":"string","title":"address (hex or ENS)","example":"vitalik.eth"},"symbol":{"type":"string"}},"required":["chain_id","address"]}}},"required":["data"]}}}},"400":{"description":"Bad request"},"500":{"description":"Internal server error"}}}},"/insights/v1/tokens/price":{"get":{"summary":"Get token price","description":"Get price in USD for given token(s)","tags":["insights/tokens"],"parameters":[{"name":"chain","in":"query","required":false,"deprecated":true,"description":"Use chain_id instead","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"name":"chain_id","in":"query","required":false,"description":"The chain ID(s) to request the data for. You can specify multiple chain IDs, up to a maximum of 55. Use repeated query parameters, e.g., `?chain_id=20&chain_id=56`. Optional, because a single chain can as well be specified as a subdomain","schema":{"type":"array","example":[20,56,1],"items":{"type":"number"}}},{"schema":{"anyOf":[{"type":"array","i
[...]
